/* Define CSS variables for light mode */
:root {
    --background-color: white;
    --text-color: black;
    --sidebar-background: rgba(255, 255, 255, 0.5);
    --card-background: rgba(255, 255, 255, 0.4);
    --button-background: #c6ae9c;
    --button-hover: #0056b3;
    --input-border: #ccc;
    --input-shadow: rgba(0, 0, 0, 0.1);

}

:root {
    --c-text-primary: #191919;
    --c-text-secondary: #737374;
    --c-border-primary: #ccc;
    --c-bg-body: rgb(250, 234, 211);
    --c-bg-primary: #fff;
    --c-bg-secondary: #d4d8dd;
    --c-bg-button: #fff;
    --c-bg-sidebar: rgba(255, 255, 255, 0.5);
    --c-bg-card-hover: rgba(200, 196, 186, 0.47);
    --c-glow: rgba(225, 225, 225, 0.7);
    --normal-card-border: rgba(255, 255, 255, 0.5);
    --c-bg-modal: rgba(255, 255, 255, 0.8);
}
:root.dark-theme {
    --c-text-primary: #eee;
    --c-text-secondary: #d3d5db;
    --c-border-primary: #454545;
    --c-bg-body: #8595b6;
    --c-bg-primary: #323339;
    --c-bg-secondary: #222128;
    --c-bg-button: #494a50;
    --button-background: #2c2a26;
    --c-bg-sidebar: rgb(33, 38, 40);
    --c-bg-card-hover: rgba(73, 82, 97, 0.94);
    --c-glow: rgba(255, 255, 255, 0.7);
    --normal-card-border: rgb(175, 173, 173);
    --c-bg-modal: rgba(0, 0, 0, 0.8);
}
:root.black-theme {
    --button-background: #2c2a26;
    --c-text-primary: #edeeef;
    --c-text-secondary: #d4d7e1;
    --c-border-primary: #323232;
    --c-bg-body: rgba(0, 0, 0, 0.89);
    --c-bg-primary: #1b1d23;
    --c-bg-secondary: #000001;
    --c-bg-button: #343844;
    --c-bg-sidebar: rgba(35, 35, 35, 0.95);
    --c-bg-card-hover: rgba(60, 60, 60, 0.6);
    --c-glow: rgba(255, 255, 255, 0.7);
    --normal-card-border: rgba(255, 255, 255, 0.5);
    --c-bg-modal: rgba(0, 0, 0, 0.8);
}
/* Default SVG color */
.ui-menu-icon img {
    filter: invert(0); /* No inversion in light mode */
    transition: filter 0.3s ease; /* Smooth transition */
}

/* Dark mode: Invert color (black to white) */
:root.dark-theme .ui-menu-icon img {
    filter: invert(1); /* Fully invert color */
}
:root.dark-theme .ui-menu-icon img {
    filter: invert(1) brightness(1.2); /* Invert & slightly increase brightness */
}

:root.black-theme .ui-menu-icon img {
    filter: invert(1); /* Fully invert color */
}
:root.black-theme .ui-menu-icon img {
    filter: invert(1) brightness(1.2); /* Invert & slightly increase brightness */
}
.svg-icon {
    width: 24px;
    height: 24px;
    fill: black;
    filter: inherit;
}




body {
    font-family: "Arial", sans-serif;
    margin: 0;
    background-color: var(--c-bg-body);
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    transition: background-color 0.3s;
}

/* Sidebar styling */
.sidebar {
    border-radius: 2vw; /* Rounded corners on all sides */
    /*background-color: rgb(255, 255, 255,0.5); !* Semi-transparent background *!*/
    background-color: var(--c-bg-sidebar);
    width: 7vw; /* Initial sidebar width */
    height: 92vh; /* Reduce height to leave space around edges */
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, 0.1);
    border: 0.1vw solid var(--normal-card-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw; /* Add internal padding for spacing */
    position: fixed;
    left: 1vw; /* Leave space from the left edge */
    top: 1vh; /* Leave space from the top edge */
    transition: width 0.3s ease, background-color 0.3s;
    z-index: 1000; /* Ensure sidebar stays above other elements */
}

/* Sidebar expands on hover */
.sidebar:hover {
    width: 10vw; /* Expanded sidebar width */
}

/* Menu item styling */
.menu-item {
    width: 100%;
    height: 20vh; /* Initial height */
    color: #333;
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    border-radius: 0;
}

/* Icon styling */
.ui-menu-icon {
    margin-bottom: 0.5vw;
    transition: transform 0.3s ease; /* Smooth icon animation */
}

/* Text styling */
.menu-text {
    color: var(--c-text-primary);
    font-size: 1.5vw;
    opacity: 0; /* Hidden initially */
    transition: opacity 0.3s ease; /* Smooth text reveal */
}

/* Menu item hover effect */
.menu-item:hover {
    height: 24vh; /* Expanded height on hover */
    border-radius: 3vw;
    box-shadow: 0 0.5vw 1.5vw var(--c-bg-card-hover);
    background-color: var(--c-bg-card-hover);
}

/* Show text on sidebar hover */
.sidebar:hover .menu-text {
    opacity: 1; /* Reveal text */
}

/* Slight icon enlargement on hover */
.sidebar:hover .ui-menu-icon img {
    transform: scale(1.1); /* Enlarge icon */
}

/*phone*/
@media screen and (max-width: 768px) {
    .normalCard{
        width: 120%;
    }
    .sidebar {
        width: 100vw;
        height: 8vh;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        left: 0;
        top: auto;
        bottom: 0;
        border-radius: 0;
        padding: 0.5vw 0;
    }
    .aiCard {
        height: 7vh;
        width: 10%;

    }


    .menu-item {
        width: auto;
        height: 40%;
        flex-direction: column;
        justify-content: center;
        padding: 0 2vw;
    }


    .ui-menu-icon img {
        width: 40px;
        height: 40px;
    }


    .menu-text {
        font-size: 12px;
        opacity: 1;
    }


    .sidebar:hover {
        width: 100vw;
    }
    .menu-item:hover {
        height: auto;
        box-shadow: none;
        background-color: transparent;
    }
    .dashboard {
        color: var(--c-text-primary);
        margin-left: 0; /* Default offset for sidebar */
        width: calc(100%); /* Adjust width dynamically */
        padding: 2vw;
        height: 200vh;
        transition: margin-left 0.3s ease, width 0.3s ease; /* Smooth transition */
        overflow: visible;
    }

}




.dashboard {
    color: var(--c-text-primary);
    margin-left: 3vw;
    width: calc(100% - 14vw);
    padding: 2vw;
    height: 200vh;
    transition: margin-left 0.3s ease, width 0.3s ease;
    overflow: visible;
}

@media screen and (min-width: 769px) {
    .sidebar:hover ~ .dashboard {
        margin-left: 14vw;
        width: calc(100% - 16vw);
    }
    .dashboard {
        color: var(--c-text-primary);
        margin-left: 12vw;
        width: calc(100% - 14vw);
        padding: 2vw;
        height: 200vh;
        transition: margin-left 0.3s ease, width 0.3s ease;
        overflow: visible;
    }
}

.dashboard-content {
    margin-top: 2vw;
    width: 95%;
    display: grid;
    grid-gap: 10% 7%;
    grid-template-columns: repeat(3, 1fr);
}

.item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

}

.item2 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.item3 {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}


.normalCard {
    /*background-color: rgba(255, 255, 255, 0.4);*/
    background-color: var(--c-bg-sidebar);
    color: var(--c-text-primary);
    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vw);
    border-radius: 2vw;
    border: 0.1vw solid var(--normal-card-border);
    height: 40vh;
    width: 115%;
    text-align: center;
    transition: all 0.3s ease;
    overflow: hidden;
    transform-origin: center;
}

.normalCard:hover {
    transform: scale(1.03);
    height: 40vh;
    box-shadow: 0 0.5vw 1.5vw rgba(255, 255, 255, 0.2);
    /*background-color: var(--c-bg-card-hover);*/
    .upToDownList {
        height: 35vh; /* Set fixed height for overflow control */
    }
}

/* Earth Card Styling */
.earth-card {
    position: relative;
    overflow: hidden;
    background-color: #000; /* Dark background for space effect */
    /* Keep the normal card shape and size */
    height: 40vh;
}

#earth-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Time display styling */
.time-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 0;
    border-radius: 5px;
}

.time-clock {
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 2px;
}

.time-date {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    opacity: 0.9;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}

/* Orbital ring styling */
.orbital-ring {
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 15;
    display: none; /* Hide the custom orbital ring as we now have it in Three.js */
}

.upToDownList {
    height: 40vh; /* Set fixed height for overflow control */
    overflow-y: auto;
    text-align: center;
    transition: all 0.3s ease;
}

.upToDownList::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari */
}
.leftToRightList {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.hBar {
    color: var(--c-text-primary);
    height: 4vw; 
    margin: 1vw;
    display: flex;
    flex-direction: row;
    background-color: var(--c-bg-sidebar);
    justify-content: space-between;
    align-items: center; /* Center items vertically */
    padding: 0.8vw;
    border-radius: 1vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    position: relative;
}

.hBar:hover {
    /* padding: 1.3vw; */
    background-color: var(--c-bg-card-hover);
}

.hButton {
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1vw;
    border-radius: 5vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 3vw;
    height: 1.2vw;
    transform-origin: center;
    transition: all 0.3s ease;
}
.hButton:hover {
    transform: scale(1.0025);
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: white 0 0 0.5vw 0.2vw;
    padding: 1.3vw;
}

.mui-switch {
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none; }
.mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
.mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63; }
.mui-switch:checked:before {
    left: 21px; }
.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; }
.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s; }
.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s; }
.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s; }
.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
.mui-switch.mui-switch-anim:before {
    transition: left 0.3s; }
.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s; }

/* Dropdown button */
.dropdown-btn {
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
}

/* Dropdown container */
.dropdown {
    backdrop-filter: blur(0.5vw);
    position: relative;
    display: inline-block;
}

/* Dropdown content */
.dropdown-content {
    opacity: 0;
    backdrop-filter: blur(0.5vw);
    transform: scaleY(0);
    position: absolute;
    z-index: 9999;
    color: var(--c-text-primary);
    border-radius: 2vw;
    box-shadow: 0 0.5vw 1.5vw rgba(255, 255, 255, 0.2);
    background-color: var(--c-bg-sidebar);
    transform-origin: top;
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}

.dropdown-content.show {
    opacity: 1;
    transform: scaleY(1);
    pointer-events: auto;
}

.dropdown-content a {
    color: var(--c-text-primary);
    padding: 0.5vw 2vw;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease;
    border-radius: 2vw;
}

.dropdown-content a:hover {
    transform: scale(1.05);
    background-color: var(--c-bg-card-hover);
}

.bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 10vw;
    height: 10vw;
    transition: all 0.3s;
    padding: 2vw;
    border-radius: 2vw;
    cursor: pointer;
    justify-content: center;
}

.left {
    position: relative;
    left: 0;
    transform: translateX(0);
    transition: all 0.3s;
    flex: 1;
    text-align: center;
}

.right {
    opacity: 0;
    flex: 1;
    text-align: center;
    transition: all 0.3s;
}

.bar:hover {
    width: 11vw;
}

.bar:hover .left {
    transform: translateX(0);
}

.bar:hover .right {
    opacity: 1;
    flex: 1;
}


/* Dark mode toggle button */
.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: var(--button-background);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.3s;
}

/* Toggle button hover effect */
.toggle-button:hover {
    background-color: var(--button-hover);
}




.family-card, .add-card {
    height: 20vw;
    background-color: var(--c-bg-sidebar);
    color: var(--c-text-primary);
    border-radius: 3vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/*.normalCard {*/
/*    !*background-color: rgba(255, 255, 255, 0.4);*!*/
/*    background-color: var(--c-bg-sidebar);*/
/*    color: var(--c-text-primary);*/
/*    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);*/
/*    backdrop-filter: blur(0.5vw);*/
/*    border-radius: 3vw;*/
/*    border: 0.1vw solid rgba(255, 255, 255, 0.5);*/
/*    height: 40vh;*/
/*    width: 115%;*/
/*    text-align: center;*/
/*    transition: all 0.3s ease;*/
/*    overflow: hidden;*/
/*    transform-origin: center;*/
/*}*/
/* Family Card Styling */
.family-card {
    background: var(--c-bg-sidebar);
    color: var(--c-text-primary);
    border-radius: 2vw;
    padding: 2vw;
    text-align: center;
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
}

.family-card:hover {
    transform: scale(1.05);
    box-shadow: 0 1vw 2vw rgba(255, 255, 255, 0.3);
}

/* Profile Image Styling */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    object-fit: cover;
    border: 0.3vw solid var(--c-bg-card-hover);
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

/* Profile Name */
.profile-name {
    font-size: 1.8vw;
    font-weight: bold;
    margin-top: 1vw;
}

/* Badge */
.premium-badge {
    background: linear-gradient(45deg, #FFD700, #FFA500);
    color: white;
    padding: 0.5vw 1.2vw;
    border-radius: 1vw;
    font-size: 1.2vw;
    margin-top: 0.5vw;
    font-weight: bold;
}

/* Add Card Styling */
.add-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 10vw;
    background: var(--c-bg-sidebar);
    border-radius: 50%;
    border: 0.3vw dashed var(--c-bg-card-hover);
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}

.add-card:hover {
    background: var(--c-bg-card-hover);
    transform: scale(1.1);
}

.add-icon {
    font-size: 3vw;
    font-weight: bold;
    color: var(--c-text-primary);
}


.family-card:hover, .add-card:hover {
    transform: translateY(-5px);
}
.family-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    color: var(--c-text-primary);
    /*background-color: rgba(0, 0, 0, 0.2); !* Dark overlay *!*/
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vw);
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    overflow: hidden;
    transform-origin: center;
}

/* Modal Content */
.modal-content {
    background-color: var(--c-bg-modal);
    padding: 2vw;
    border-radius: 3vw;
    width: 200vw;
    height: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.65);
    animation: fadeIn 0.3s ease-in-out;
    transition: 0.3s;
}
.modal-content:hover {
    transform: scale(1.01);
    box-shadow: 0 0.5vw 1.5vw rgba(255, 255, 255, 0.2);
}



/* Close Button */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Fade-in Animation */
@keyframes fadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Inputs */
input {
    width: 100%;
    padding: 0.8vw;
    margin-top: 0.5vw;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
button {
    width: 100%;
    padding: 1vw;
    background-color: var(--button-background);
    color: white;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
    transition:  0.3s;

}

button:hover {
    background-color: rgb(237, 101, 101);
}

.hidden-button {
    background: none;
    margin-left: auto;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.hidden-button:hover {
    background: none;
}
.hidden-button:hover::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: var(--c-bg-card-hover);
    border-radius: 1vw;
    z-index: -1;
}



/* Responsive */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 80%;
    }
}



/* theme switcher */
.theme-switcher input {
    display: none;
}

.theme-switcher {
    position: relative;
    background-color: var(--c-bg-secondary);
    border-radius: 10px;
    display: flex;
    padding: 0 3px;
}

.theme-switcher label {
    position: relative;
    z-index: 2;
    width: calc(100% / 3);
    color: var(--c-text-secondary);
}

.theme-switcher label span {
    padding: 8px 0;
    display: flex;
    justify-content: center;
    font-weight: 600;
    opacity: 0.8;
}

.theme-switcher label span:hover {
    opacity: 1;
    cursor: pointer;
}

.theme-switcher .slider {
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 3);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 8px;
    transition: .30s ease, transform 0.25s ease-out;
    background-color: var(--c-bg-button);
}

.theme-switcher input:nth-of-type(1):checked ~ .slider {
    transform: translateX(0);
}
.theme-switcher input:nth-of-type(2):checked ~ .slider {
    transform: translateX(100%);
}
.theme-switcher input:nth-of-type(3):checked ~ .slider {
    transform: translateX(200%);
}


.chart-container {
    width: 100%;  /* Make it stretch to fit the parent container */
    max-width: 100%; /* Prevents overflow */
    height: 30vh;  /* Adjust height based on viewport */
    min-height: 150px; /* Ensures chart doesn't get too small */
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: 100% !important; /* Force canvas to fill its container */
    height: 100% !important;
}


#apiResponse {
    margin-top: 2vw;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Courier New", monospace; /* AI-style font */
    color: #3b3e40; /* Neon effect */
    text-shadow: 0 0 10px rgb(217, 226, 217); /* Glow effect */
    white-space: pre-wrap; /* Ensures line breaks are maintained */
    line-height: 1.2; /* Better readability */
    min-height: 50px; /* Prevents height jumping */
}


@keyframes glow {
    0% {
        box-shadow: 0 0 1vw var(--c-glow);
    }
    50% {
        box-shadow: 0 0 1.5vw rgba(255, 255, 255, 0.9);
    }
    100% {
        box-shadow: 0 0 1vw var(--c-glow);
    }
}
.aiCard {
    height: 8vh;
    width: 100%;
    overflow: visible; /* Allow text expansion */
    padding: 1vw;
    flex-direction: column;
    background-color: var(--c-bg-sidebar);
    border-radius: 3vw;
    box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: start; /* Keep input field at the top */
    align-items: center;
    border: 0.1vw solid rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}
.aiCard:hover {
    transform: scale(1.03);
    height: 40vh;
    border: 0.3vw solid rgba(255, 255, 255, 0.5);
    animation: glow 1.5s infinite alternate;
}


/* Ensure the input field remains fully visible */
.leftToRightList2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
}

/* Adjust the input box styling */
#userPrompt {
    color: var(--c-text-primary);
    flex-grow: 1; /* Allow it to expand fully */
    padding: 10px;
    border-radius: 5vw;
    font-size: 1em;
}

/* Prevent input from being cut off */
#apiResponse {
    color: var(--c-text-primary);
    opacity: 0;
    margin-top: 1vw;
    font-weight: bold;
    font-size: 1em;
    white-space: pre-wrap;
}



#currentDateTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    background: linear-gradient(135deg, #2b5e83, #2b5e83);
    padding: 15px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    margin: auto;
    transition: all 0.3s ease-in-out;
}


#currentDateTime .date {
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}


#currentDateTime .time {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 5px;
    letter-spacing: 2px;
    animation: fadeIn 1s ease-in-out infinite alternate;
}

/* Temperature Control Styles */
.temperature-control {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    width: auto;
    position: absolute;
    left: 50px;
}

.temperature-display {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    min-width: 45px;
    text-align: center;
    font-family: monospace;
    width: 45px;
    position: absolute;
    left: 120px;
}

.temp-btn {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.2s ease;
    margin: 0 5px;
    color: var(--c-text-primary);
}

.temp-btn:hover {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
}

/* Temperature display styles */

/* Device status button styles */
.device-status-btn {
    width: 40px;
    height: 24px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    font-size: 0.8em;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 10px;
}

.device-status-on {
    background-color: #2ecc71; /* Light green for ON */
}

.device-status-off {
    background-color: #e74c3c; /* Red for OFF */
}

@keyframes fadeIn {
    from {
        opacity: 0.6;
    }
    to {
        opacity: 1;
    }
}

.normalCard::-webkit-scrollbar {
    display: none;
}

.dashboard::-webkit-scrollbar {
    display: none;
}


.input-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
}

/*#userPrompt {*/
/*    flex: 1;*/
/*    padding: 10px;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5vw;*/
/*    font-size: 16px;*/
/*}*/

.icon-button {
    border-radius: 5vw;
    width: 5%;
    background: var(--c-bg-button);
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin-left: 5px;
}


.dragging {
    opacity: 0.6;
    background: rgba(200, 200, 200, 0.3);
    border: 2px dashed #ccc;
}


.chosen {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}


.normalCard {
    transition: transform 0.3s ease-in-out;
}





.normalCard {
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.dragging {
    opacity: 0.5;
}
.chosen {
    transform: scale(1.05);
}




.roomModal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
}

.roomModal-content {
    background: var(--c-bg-primary);
    color: var(--c-text-primary);
    width: 450px;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.roomModal-header {
    display: flex;
    color: var(--c-text-primary);
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;

}


.cancel {
    color: orange;
    cursor: pointer;
}

.save {
    color: gray;
    cursor: pointer;
}


.save.enabled {
    color: black;
}


.modal-body label {
    font-size: 14px;
    color: gray;
    display: block;
    margin-top: 15px;
}


#roomName {
    width: 100%;
    padding: 10px;
    background: var(--c-bg-secondary);
    border: 1px solid var(--c-border-primary);
    border-radius: 10px;
    margin-top: 5px;
    font-size: 16px;
}


.image-selector {
    background: var(--c-bg-secondary);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    white-space: nowrap;
}

.image-list {
    display: flex;
    gap: 10px;
}

.image-selector img {
    width: 80px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
}


.image-selector img.selected {
    border-color: orange;
    box-shadow: 0 0 5px orange;
}


.scroll-bar {
    width: 100%;
    height: 4px;
    background: lightgray;
    margin-top: 5px;
    border-radius: 2px;
}



.room-entry {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    margin: 5px 0;
    background-size: cover;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}


.clearButton {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}


.room-entry button {
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 3px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}




#automationcard {
    max-height: 40vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


#automationcard::-webkit-scrollbar {
    display: none;
}


.room-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 7vw;
    background-size: cover;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    margin: 5px auto;
    text-align: center;
    cursor: pointer;
}


.tempDashboard {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 20px auto;
}
.temperature-display {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
}
.controls {
    margin-top: 20px;
}

/*CustomizedPage Settings*/
.addFunctionButton {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.standbyModalCP {
    position: absolute;
    top: 18%;
    left: 36%;
    width: 40%;
    height: auto;
    border-radius: 15px;
    background: rgba(250, 198, 158, 1.0);
    overflow-y: auto;
    max-height: 80vh;

}

.standbyModalCP-content {
    background: #f6c97a;
    padding: 5%;
    width: 100%;

    border-radius: 40px;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    flex-direction: column; /* Stack elements */

}
.h3Button{
    margin-left: 5%;
    margin-top: 5%;
}



.closeButton {
    position: absolute;
    right: 5%;
    background: rgba(255,255,255,0.5);
    border: none;
    cursor: pointer;
    width: 8%; /* Fixed width */
    height: 10%; /* Fixed height */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-4%);
}

.closeButton img {
    width: 200%; /* Scales inside button */
    height: 200%; /* Keeps proportion */
}


.addButton, .removeButton {
    margin-left: 180px;
    background: none;
    border: none;
    cursor: pointer;
}

.standbyItem {
    display: flex;
    align-items: center;
    padding: 3%;
    border-bottom: 1px solid #eee;
}

.standbyItem span {
    margin-left: 10px; /* Adjust as needed */
}

#standbyList {
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto; /* Enable scrolling */
}

.function-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.removeFunctionButton {
    position: absolute;
    width: 15%;
    height: 15%; /* Adjust based on button size */
    margin-left: 80%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;

}

.removeFunctionButton img {
    width: 300%;
    height: 300%;
}


.StandbyAddButton {
    margin-left: 80%;
    position: absolute;
    width: 15%;
    background: none;
    border: none;
    cursor: pointer;
}

.addFunctionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdf6ec; /* Match Light Control card */
    color: black;
    border: none;
    border-radius: 15px; /* Rounded corners */
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

.addFunctionButton img {
    width: 18px; /* Adjust size */
    height: 18px;
    margin-right: 8px; /* Space between icon and text */
}

.dashboardDesign {
    display: flex;
    flex-wrap: wrap;
}

.circle-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;
}


.big-circle {
    width: 20vw;
    height: 20vw;
    background-color: var(--c-bg-sidebar);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.big-circle:hover {
    width: 25vw;
    height: 25vw;
    transition: 0.3s;
}



.big-circle img {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    object-fit: cover;
}
.big-circle img:hover {
    width: 9vw;
    height: 9vw;
    transition: 0.3s;
}

.profile-name {
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}


.small-circle {
    width: 75px;
    height: 75px;
    background-color: var(--c-bg-sidebar);
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s;
}
.small-circle:hover {
    width: 80px;
    height: 80px;
    transition: 0.3s;
}

.small-circle img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

#avatarSelector option {
    padding: 5px 10px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 30px;
}

#avatarSelector option[value="1"] { background-image: url("https://randomuser.me/api/portraits/lego/1.jpg"); }
#avatarSelector option[value="2"] { background-image: url("https://randomuser.me/api/portraits/lego/2.jpg"); }
#avatarSelector option[value="3"] { background-image: url("https://randomuser.me/api/portraits/lego/3.jpg"); }
#avatarSelector option[value="4"] { background-image: url("https://randomuser.me/api/portraits/lego/4.jpg"); }
#avatarSelector option[value="5"] { background-image: url("https://randomuser.me/api/portraits/lego/5.jpg"); }
#avatarSelector option[value="6"] { background-image: url("https://randomuser.me/api/portraits/lego/6.jpg"); }
#avatarSelector option[value="7"] { background-image: url("https://randomuser.me/api/portraits/lego/7.jpg"); }
#avatarSelector option[value="8"] { background-image: url("https://randomuser.me/api/portraits/lego/8.jpg"); }
#avatarSelector option[value="9"] { background-image: url("https://randomuser.me/api/portraits/lego/9.jpg"); }
#avatarSelector option[value="10"] { background-image: url("https://randomuser.me/api/portraits/lego/10.jpg"); }




.avatar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}


.user-list {
    width: 70%;
    margin: 0 auto;
    background-color: var(--c-bg-sidebar);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.user-list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.user-list-item:last-child {
    border-bottom: none;
}


.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}


.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.user-info {
    flex: 1;
}

.user-name {
    font-weight: bold;
}

.user-role {
    font-size: 12px;
    color: gray;
}



#addUserForm, #addHouseForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 20px;
    border-radius: 15px;
}

#addUserForm label {
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 5px;
}
#addHouseForm label {
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 5px;
}

#addUserForm input {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
    transition: border 0.3s, background-color 0.3s;
}
#addHouseForm input {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
    transition: border 0.3s, background-color 0.3s;
}

#addUserForm input:focus {
    border: 1px solid #007AFF;
    background-color: #fff;
}
#addHouseForm input:focus {
    border: 1px solid #007AFF;
    background-color: #fff;
}

#addUserForm button {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #007AFF, #005DD1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}
#addHouseForm button {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #007AFF, #005DD1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#addUserForm button:hover {
    background: linear-gradient(135deg, #005DD1, #0040A5);
    transform: scale(1.02);
}
#addUserBtn,#addHouseBtn {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 350px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #007AFF, #005DD1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#addUserBtn:hover {
    background: linear-gradient(135deg, #005DD1, #0040A5);
    transform: scale(1.02);
}
#addHouseBtn:hover {
    background: linear-gradient(135deg, #005DD1, #0040A5);
    transform: scale(1.02);
}

#accountForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-radius: 15px;

}

#accountForm label {
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 5px;
}

#accountForm input {
    width: 100%;
    max-width: 350px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    background-color: #f9f9f9;
    outline: none;
    transition: border 0.3s, background-color 0.3s;
}

#accountForm input:focus, #addUserForm input:focus {
    border: 1px solid #007AFF;
    background-color: #fff;
}


#accountForm button, #addUserForm button #newbuttonFrom  button{
    width: 30%;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #007AFF, #005DD1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#accountForm button:hover, #addUserForm button:hover #newbuttonFrom  button:hover{
    background: linear-gradient(135deg, #005DD1, #0040A5);
    transform: scale(1.02);
}

.container2 {
    width: 95%;
    margin: 20px auto;
    background: var(--c-bg-sidebar);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.menu-item2 {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 16px;
}
.menu-item2:hover {
    background: var(--c-bg-card-hover);
}
.menu-item2:last-child {
    border-bottom: none;
}
.icon2 {
    margin-right: 10px;
}
.details2 {
    display: none;
    padding: 20px;
    background: var(--c-bg-sidebar);
}
.details2 input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.back2 {
    color: var(--c-text-primary);
    cursor: pointer;
}