* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: rgba(0, 255, 0, 0.1);
}

.content > div {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.content > div:nth-child(1) {
    height: 80px;
    width: 1100px;
    border-radius: 40px;
    flex-shrink: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.content > div:nth-child(2) {
    height: 300px;
    width: 900px;
    border-radius: 40px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding: 10px;
    box-sizing: border-box;
}

.Your-home {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    text-align: left;
    box-sizing: border-box;
}

.furniture {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    height: 100%;
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    justify-content: space-between;
}

.furniture > div {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ccc;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

}

.line1 {
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.line2 {
    font-size: 16px;
    color: #555;
    text-shadow: 2px 2px 4px rgba(105, 105, 105, 0.9);

}

.content > div:nth-child(3) {
    height: 70px;
    width: 200px;
    border-radius: 40px;
    flex-shrink: 0;
}

.selection-Bar {
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-bottom: 20px;
}

.selection-Bar span {
    font-size: 20px;
    padding: 10px;
    color: rgba(169, 169, 169, 0.8);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);

}

.add-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    cursor: pointer;
    transition: none;
}

.add-button img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin-right: 27px;
}

.button-text {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    text-align: left;
}
